<!--
 * @Author: your name
 * @Date: 2021-07-15 11:19:49
 * @LastEditTime: 2021-07-15 11:49:56
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \VUE基础练习\15-全局组件.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>
            <input type="text" name="" id="" v-model="message">
            <globalcomponent  :props="message"></globalcomponent>
        </p>
        <p>
            <ol>
                  <todo v-for="site in sites" :props="site">
                  </todo>
            </ol>
        </p>
    </div>
    <script type="text/javascript">
    Vue.component('globalcomponent',{
        props:['props'],
        template:'<h2>{{props}}</h2>',
    })
    Vue.component('todo',{
        props:['props'],
        template:'<li>{{props.text}}</li>',
    })
         var vm=new Vue({
             el:'#app',
             data:{
                 message:'动态props传递',
                 sites:[
                     {text:'组件注册'},
                     {text:'filter多个参数'},
                     {text:'事件修饰'}
                 ],
             },
             methods:{
                 
             }
         })
    </script>
</body>
</html>